---
import { Image } from 'astro:assets';
import ComingsoonImage from '../../public/images/integrations/Strategic consulting-pana.svg';
---

<section class="mt-[3rem]">
  <div class="mt-[3rem]">
    <center>
      <Image
        src={ComingsoonImage}
        alt="Coming Soon Image"
        height={600}
        width={800}
      />
    </center>
  </div>
  <center> </center>
</section>
