---
import { Image } from 'astro:assets';
import ComingsoonImage from '../../public/images/career/smartcontract.webp';
---

<section>
  <div>
    <center>
      <Image
        src={ComingsoonImage}
        alt="Coming Soon Image"
        width={900}
        height={600}
      />
    </center>
  </div>
  <center> </center>
</section>
